<div class='clovers'>
  <div class='form'>
    <%= form_for @clover do |f| %>

    <div class='from1'>
      <%= f.label "Who are ye?" %>
    </div>

    <div class='from1-text'>
      <%= f.text_field :from %>
    </div>

    <div class='message1'>
      <%= f.label "Send me some green beer!" %>
    </div>

    <div class='message1-text'>
      <%= f.text_area :message, height: "76", width: "182" %>
    </div>

    <br>

    <div class='cbutton'>
      <%= f.submit "Send the Luck" %>
    </div>

    <% end %>
  </div>
</div>
